#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container{
  background-color: rgb(215, 216, 223);
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  border-radius: 8px;
  width: 48rem;
}

#comments{
  width: 100%;
}
